@extends('layouts/home')

@section('title', 'Home page')

@section('content')
<h1>Welcome, {{.Name}}</h1>
<p>This is a Blade-like template in Go.</p>
@endsection

@section('footer')
Home page Footer
@endsection
