<!doctype html>
<html>
<head>
  <title>@yield('title', 'Default Page Title')</title>
  @stack('head')
</head>
<body>
  @include('partials/nav')
  <main>
    @stack('content')
  </main>
  <footer>@stack('footer')</footer>
</body>
</html>
