@extends('layouts/base')

@push('head')
<style>
    body {
        background: #eee;
    }
</style>
@endpush
@push('head')
<script>
    console.log('Home layout script from push stack 2');
</script>
@endpush
